@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(15, 15, 15);
  width: fit-content;
  height: 100%;
  font-family: "poppins", "Montserrat", sans-serif;
}
.service {
  background-color: rgb(36, 36, 36);
  display: inline-block;
  color: white;
  width: 25%;
  height: 600px;
  margin: calc(15% / 6);
  padding: calc(10% / 6);
  border-radius: 3%;
  text-align: center;
  align-items: center;
}
.service:hover {
  background-color: rgb(198, 198, 255);
  color: rgb(46, 46, 46);
  box-shadow: 8px 10px 15px rgb(60, 60, 87), -2px -2px 10px rgb(219, 219, 245);
  transform: translateY(-10px);

  transition: 0.1s ease-in;
}

.service button:hover {
  background-color: white;
  color: rgb(10, 10, 10);
}

.km_button {
  background-color: transparent;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 33%;
  padding: 10px;
  align-items: center;
}
.km_button:hover {
  background-color: white;
  color: rgb(10, 10, 10);
  text-decoration: underline;
  box-shadow: 2px 2px 15px rgb(60, 60, 87), -2px -2px 10px rgb(219, 219, 245);
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}
p {
  text-align: left;
  font-weight: 400;
}
img {
  align-items: center;
  height: 250px;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
