@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
/* for whole page */
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body {
  /* background-color: white; */
  color: #fcfcfc;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
#home {
  width: 100%;
  /* background-color: white; */
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
/* top nav bar */

#headerspace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #353535;
  /* position: -webkit-sticky; */
  position: fixed;
  z-index: 1;
  width: 80%;
  top: 0;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.brandname {
  float: left;
}
.brandname a {
  font-weight: 500px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.topnav {
  font-style: none;
  list-style: none;
}

.topnav li {
  display: inline-block;
  padding: 0 10px;
}

.topnav li a {
  transition: all 0.3s ease 0s;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav li a:hover {
  text-decoration: underline;
}

#hire_us button {
  color: #2b2b2b;
  background-color: #7fff00;
  border-radius: 30px;
  border: none;
  width: 90px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 5px;
}

#hire_us button:hover {
  color: #faf0e6;
  background-color: #ff6347;
}
.menu-btn {
  color: #ccc;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}
#click {
  display: none;
}

@media (max-width: 904px) {
  /*for responsive navbar*/

  #topnav ul {
    position: fixed;
    top: 88px;
    left: -100%;
    background-color: #111111e1;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0%;
  }

  .topnav ul li {
    display: block;
    font-size: 1.5rem;
    margin: 40px 0;
  }

  #headerspace #hire_us {
    display: none;
  }

  .menu-btn {
    color: #ccc;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  #home:checked ~ ul {
    left: 0%;
  }
}
/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
/* homescreen */

.homescreen {
  margin: 0;
  padding: 0;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.home_screen {
  width: 50%;
  text-align: center;
  color: #000;
  /* margin: 5%; */
  margin-top: 8%;
}
.home_screen img {
  padding: 5%;
  width: 100%;
}

.home_screen h2 {
  font-size: 3rem;
}
.home_screen h3 {
  font-size: 1.5rem;
}

@media (max-width: 904px) {
  /*for responsive navbar*/

  .homescreen {
    display: block;
  }
  .home_screen {
    width: 100%;
    text-align: center;
  }
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
section {
  width: auto;
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
/* About us Section */
#about {
  background-color: #3a955e; /*Setting background color as green*/
  height: auto;
  /* height: 65rem; */
}

.about_panel {
  /*Panel containing founder details*/
  width: 85%;
  margin: calc(10% / 2);
  border-radius: 2%;
  color: #000;
  text-align: center;
  border-radius: 3rem;
  font-size: 1rem;
}
.founderpanel {
  width: 300px;
  text-align: center;
  display: inline-block;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin: calc(20% / 6);
  /* margin-left: calc(20% / 6);
  margin-right: calc(20% / 6); */
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.2),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
}
.founderpanel .founderimg {
  border: 4px white dashed;
  border-radius: 100%;
  background-color: #2b2b2b;
  width: 70%;
  margin: 0%;
}

.founder_name {
  margin-bottom: 0;
}

.founder_name a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.founder_name a:hover {
  background-color: #000000af;
  color: #fff;
  text-decoration: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
.sociallinks_founder {
  display: inline;
  width: 100%;
}
.sociallinks_founder a i {
  width: 15%;
  margin: 0;
  display: inline-block;
  font-size: 2rem;
  color: white;
  border-radius: 80%;
  /* background-color: #fff; */
}

#ourstory {
  background-color: #3a955e;
  padding: calc(10% / 4);
  color: #fff;
  box-shadow: -7px -7px 12px rgba(255, 255, 255, 0.2),
    10px 10px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 15px rgba(255, 255, 255, 0.2),
    inset 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5%;
}

#ourstory1,
#ourstory2 {
  text-align: left;
}

#ourstoryheading {
  text-align: center;
  font-size: 2.5rem;
}

#strkm_button {
  text-align: center;
  color: #0f0f0f;
  background-color: #fff;
  padding: 2%;
  border: none;
  border-radius: 3rem;
  font-size: 1rem;
}

#strkm_button:hover {
  background-color: #fff;
  color: #0a0a0a;
  text-decoration: underline;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 15px rgba(255, 255, 255, 0.2),
    inset 5px 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
/* @media (max-width: 500px) {
  .founderpanel {
    display: block;
  }
} */

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
/* Servies Panel  */
#service {
  background-color: rgba(15, 15, 15);
}
.container {
  /* background-color: #242424; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.service {
  width: 300px;
  background-color: #242424;
  margin: 2%;
  padding: 20px;
  /* border: 1px solid white; */
  border-radius: 20px;
  flex-wrap: wrap;
}
.service .servicesimg {
  width: 300px;
}

.service:hover {
  background-color: #c6c6ff;
  color: #2e2e2e;

  transform: translateY(-10px);
  transition: 0.1s ease-in;
  box-shadow: 8px 10px 15px #3c3c57 -2px -2px 10px #dbdbf5;
}

.km_button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 33%;
  padding: 10px;
  align-items: center;
}

.km_button:hover {
  background-color: #fff;
  color: #0a0a0a;
  text-decoration: underline;
  box-shadow: 2px 2px 15px #3c3c57 -2px -2px 10px #dbdbf5;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.servicesdescription {
  text-align: left;
  font-weight: 400;
}

.servicesimg {
  align-items: center;
  width: 100%;
  height: auto;
}

.sectionheading {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 3rem;
  padding: 1rem;
  padding-top: 6rem;
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
/* Contact us section  */
#contact {
  background-color: #ff7f50;
}

#typeform {
  width: 100%;
  height: 100vh;
  position: relative;
}

#contact {
  text-align: center;
}

#mail i {
  margin: 20px;
  color: #3d3d3d;
  text-transform: capitalize;
  border: 1px solid #3d3d3d;
  padding: 0.75rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
#mail i:hover {
  color: #fff;
  background-color: #3d3d3d;
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */
/* footer menu  */
.footer_menu {
  color: white;
  background-color: #242424;
}

.bottomnavlist {
  padding: 20px 0px;
}

.social {
  padding: 0px 0;

  text-align: center;
}

.social a {
  font-size: 24px;
  border: 1.5px solid #ccc;
  width: 40px;
  color: white;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 20px 8px;
  opacity: 50%;
}

.social a:hover {
  opacity: 95%;
}

.bottomnavlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;

  text-align: center;
}

.bottomnavlist ul li a {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.bottomnavlist ul li {
  display: inline-block;
  padding: 0 15px;
  opacity: 50%;
}
.bottomnavlist ul li:hover {
  opacity: 95%;
  text-decoration: underline;
}

.footer_menu p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 0.75rem;
  opacity: 0.5;
}
